.app-toolbar {

  height: 78px;

  &__logo {
    //margin-right: 24px !important;
    img {
      margin-left: 3px;
      margin-top: 3px;
      height: 72px;
      //max-height: 78px;
      //height:100%;
    }
  }

  &__link {
    height: 100%;
    border-bottom: 3px solid transparent;
    padding: 3px 16px 0;
    cursor: pointer;
    text-transform: uppercase;
    &--active {
      border-color: $accent-color;
    }
  }

  &__menu {
    margin-right: 16px !important;
  }
}

.md-toolbar-tools > .md-button:first-child {
  margin-left: 8px;
}

.md-toolbar-tools > .md-button:last-child {
  margin-right: 8px;
}

.md-sidenav-left {
  height: calc(100vh - 78px);
  width: 275px;
}

.md-datepicker-button {
  display: none !important;
}

/*.md-datepicker-input-container {
  width: 100%;
  padding: 0;
  //margin-left: -10px !important;
}*/

.caption-menu{
  max-height: 25px;
  background: linear-gradient(-90deg, #23B8AC, white);
}

//.date-picker {
//  &._md-datepicker-floating-label {
//    &._md-datepicker-has-calendar-icon {
//      > label {
//        &:not(.md-no-float) {
//          &:not(.md-container-ignore) {
//            left  : 34px;
//            right : 0;
//          }
//        }
//      }
//    }
//  }
//
//  md-datepicker {
//    border:1px solid red;
//    display : inline-block;
//    padding : 0;
//    width   : 100%;
//
//    .md-datepicker-button {
//      //display:none;
//      //margin-left : -12px;
//    }
//
//    .md-datepicker-input-container {
//      display : flex;
//
//      .md-datepicker-input {
//        max-width : 100%;
//        min-width : 100%;
//      }
//
//      .md-datepicker-triangle-button {
//        right : 8px;
//      }
//    }
//  }
//
//  .md-input-messages-animation {
//    .md-input-message-animation {
//      margin-left : 34px;
//    }
//  }
//}

@include media-query(lr-md) {
  .md-sidenav-left {
    height: 100vh !important;
  }
}

.app-sidenav {

  md-divider {
    margin: 16px 0;
  }

  padding: 16px 0;
  color: rgba(0, 0, 0, 0.54);
  &__link {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    cursor: pointer;
    padding: 8px 16px;
    transition: all $transition-duration $transition-timing-function;
    text-decoration: none;

    &:hover {
      background-color: $primary-color;
      color: white !important;
    }

    &--active {
      md-icon {
        color: white !important;
      }
      color: white !important;
      background: linear-gradient(90deg, $primary-color, white);
      //background-color: #66afe9;
    }

    &--subfolder {
      padding-left: 40px;
    }

    md-icon {
      height: 30px;
      margin-right: 16px;
    }

  }
}

.form-limited {
  max-width: 800px;
  min-width: 500px
}

button, .md-button {
  opacity: 1;
}

button.md-primary, .md-button.md-default-theme.md-primary, .md-button.md-primary {
  background-color: $primary-color;
  color: white;
}

button.md-accent, button.md-confirm-button {
  background-color: $accent-color !important;
  color: white;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
  background-color: $primary-color;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent, .md-button.md-accent.md-fab, .md-button.md-default-theme.md-accent.md-raised, .md-button.md-accent.md-raised {
  background-color: $accent-color !important;
}

.md-button.md-default-theme.md-accent[disabled], .md-button.md-accent[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-default-theme.md-warn[disabled], .md-button.md-warn[disabled] {
  background-color: $accent-color !important;
}

.md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme[disabled], .md-button[disabled] {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.2);
}

.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
  opacity: 0.5;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: white;
  color: $primary-color;
}

h1, h2, h3, h4 {
  color: $primary-color;
}

.md-toolbar-tools {
  margin: 0;
  padding: 0;
}

.form-title {

  background-color: $primary-color !important;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  h1, h2, h3 {
    color: white !important;
    padding: 0;
    margin: 0;
  }

}